.boardOneBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-style: groove;
	padding: 3%;
	margin-top: 80px;
	margin-bottom: 100px;
	text-align: left;
}

.boardTitleContainer {
	width: 100%;
}

.spanEmail {
    font-style:italic;
}

.spanDate {
    font-style:italic;
}

.boardTitleSubContainer {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.subLeft {
}

.subRight {
	text-align: right;
}

.boardContentContainer {
	width: 100%;
	height: 400px;
	margin-top: 10px;
}

.buttonContainer {
	display: flex;
	flex-direction: row;
	font-size: larger;
}

.replyBox {
	width: 100%;
}

.textarea {
	width: 100%;
	resize: none;
	margin-top: 20px;
}
